.footer {
    display: block;
    text-align: center;
    padding: 2rem 0;
    background: #2E3852;
}

.footer p {
    color: white;
    margin: 0 auto 2rem auto;
}

.footer p:first-of-type {
    max-width: 280px;
}

.footer p:nth-of-type(2) {
    max-width: 280px;
}

.social-media-icons {
    margin-bottom: 3rem;
}

.social-media-icons a {
    padding: 0.2rem;
    display: inline-block;
    margin: 0 0.8rem;
}

.contact-us-button {
    display: inline-block;
    color: white;
    padding: 0.5rem 2rem;
    background-color: #AB3258;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.contact-us-button:hover {
    background-color: #D39628;
    color: white;
    text-decoration: none;
}

.labello-logo-footer-link {
    display: block;
    padding: 0.5rem;
    max-width: 190px;
    margin: 0 auto;
}

@media (min-width: 380px) {
    .footer p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer p:first-of-type {
        max-width: 100%;
    }

    .footer p:nth-of-type(2) {
        max-width: 100%;
    }

}

@media (min-width: 1024px) {

    .footer p:first-of-type {
        font-size: 2rem;
    }

}
