.navbar-desktop {
    display: none;
}

.navbar-mobile-wrapper {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

.navbar-mobile {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #D39628;
}

.labello-logo-navbar {
    height: 3.2rem;
    width: auto;
    padding: 10px;
    margin: 0.5rem 0 0 0.5rem;
}

.menu-button {
    display: block;
    cursor: pointer;
    width: 55px;
    padding: 10px;
    margin: 0.5rem 0.5rem 0 0;
    border: none;
    background-color: transparent;
}

.bar1,
.bar2,
.bar3 {
    /* width: 35px; */
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-button.is-open .bar1 {
    transform: rotate(-45deg) translate(-8px, 7px);
}

.menu-button.is-open .bar2 {
    opacity: 0;
}

.menu-button.is-open .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.navbar-list {
    list-style: none;
    position: absolute;
    top: 100%;
    background: white;
    padding-left: 0;
    font-size: 1.2rem;
    display: none;
    z-index: 2;
    width: 100%;
    border-radius: 0 0 9px 9px;
}

.navbar-list.is-open {
    display: block;
}

.navbar-list a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 0.5rem 1.5rem;
    color: black;
}

.header {
    margin-top: 67px;
}

@media (min-width: 1024px) {
    .navbar-mobile {
        display: none;
    }

    .header {
        margin: 0;
    }

    .navbar-desktop {
        display: flex;
        justify-content: space-between;
        background-color: #D39628;
    }

    .labello-logo-navbar {
        margin-bottom: 0.5rem;
    }

    .navbar-list-desktop {
        position: relative;
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        margin: 0.7rem 0.5rem 0 0;
        list-style-type: none;
        padding: 10px;
        align-items: center;
    }

    .navbar-desktop li {
        margin: 0 1rem;
    }

    .navbar-desktop a {
        color: white;
    }

    @media (min-width: 1420px) {
        .navbar-desktop li {
            margin: 0 2rem;
        }

        .navbar-list-desktop {
            margin-right: 2rem;
        }

        .labello-logo-navbar {
            margin-left: 2rem;
        }

    }
